@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 3, 7, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .glass-card {
    @apply bg-gray-900/40 backdrop-blur-xl border border-gray-800 shadow-xl;
  }

  .neon-text {
    @apply text-green-400;
    filter: drop-shadow(0 0 8px rgba(74, 222, 128, 0.5));
  }
}